@import url("https://fonts.googleapis.com/css?family=Work+Sans");
@import url("https://fonts.googleapis.com/css?family=Mr+De+Haviland");

body {
    background: url("/images/redlight.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Work Sans', sans-serif;
    text-shadow: 1px 1px 2px white, 0 0 25px darkorange, 0 0 5px white;
}

h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
    font-family: 'Mr De Haviland', sans-serif;
    font-size: 69px;
}

h2 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
    font-size: 34px;
}

h3 {
    alignment: center;
    font-size: 30px;
}

table {
    background: navajowhite;
    width: 70%;
    border-style: solid;
    border-width: 10px 2px 10px 2px;
    /*border: 2px solid black;*/
    /*border-top-width: 15px;*/
    transform: translate(225px,25px);
    opacity: 0.7;
    padding: 4em auto;
    border-radius: 2px;
    border-collapse: collapse;
}

a {
    color: black;
    font-size: 20px;
    padding: 2em;
}


.topicheader {
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em;


}


/*hr {*/
    /*display: block;*/
    /*margin-top: 0.5em;*/
    /*margin-bottom: 0.5em;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*border-style: inset;*/
    /*border-width: 1px;*/
/*}*/

tr {
    color: black;
    border-bottom: solid 1px darkgrey;
    padding: 10px;
}

tr:hover {
    background: silver;

}

td {
    padding: 20px;
}

input [type=text] {
    padding: 60px;
}
.resizedTextbox {
    width: 300px;
    height: 150px;
}

/*#message {*/
    /*width: 100px;*/
    /*size: 200px;
    }*/

