@import url("https://fonts.googleapis.com/css?family=Work+Sans");

body {
    background: url("/images/rld.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Work Sans', sans-serif;
}

table {
    background: navajowhite;
    opacity: 0.7;
    padding: 20em;

}
