<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hojto-seuranhaku</title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="style.css" th:href="@{/style.css}"/>
</head>
<body>
<table>
    <tr>
        <td>Nainen etsii miestä</td>
    </tr>
    <tr>
        <td>Mies etsii naista</td>
    </tr>
    <tr>
        <td>Nainen etsii naista</td>
    </tr>
    <tr>
        <td>Mies etsii miestä</td>
    </tr>
    <tr>
        <td>Henkilö etsii henkilöä</td>
    </tr>
    <tr>
        <td>Tekniset kysymykset</td>
    </tr>
</table>

</body>
</html>