<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hojto - the source of fling</title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="style.css" th:href="@{/style.css}"/>
</head>
<body>
<h1>Looking for a fling, friend, master or massage, we have it @Hojto!</h1>
<table>
    <tr>
        <td><a th:href="'http://localhost:8080/topics?id=1'">Nainen etsii miestä</a><!--<p th:text="${topic1}"></p>--></td>
    </tr>
    <tr>
        <td><a th:href="'http://localhost:8080/topics?id=2'">Mies etsii naista</a></td>
    </tr>
    <tr>
        <td><a th:href="'http://localhost:8080/topics?id=3'">Nainen etsii naista</a></a></td>
    </tr>
    <tr>
        <td><a th:href="'http://localhost:8080/topics?id=4'">Mies etsii miestä</a></td>
    </tr>
    <tr>
        <td><a th:href="'http://localhost:8080/topics?id=5'">Henkilö etsii henkilöä</a></td>
    </tr>
    <tr>
        <td><a th:href="'http://localhost:8080/topics?id=6'">Tekniset kysymykset</a></td>
    </tr>
    <tr>
        <td><a th:href="'http://localhost:8080/search'">Haku tekstin perusteella</a></td>
    </tr>
</table>

<img ALIGN="BOTTOM" th:src="@{/images/CupidoSmall.png}"/>

</body>
</html>