<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hojto - the source of fling</title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="style.css" th:href="@{/style.css}"/>
</head>
<body>
<table>
    <tr>
        <td><a th:href="'http://localhost:8080/topics1'">Nainen etsii miestä</a></td>
    </tr>
    <tr>
        <td><a th:href="'http://localhost:8080/topics2'">Mies etsii naista</a></td>
    </tr>
    <tr>
        <td>Nainen etsii naista</td>
    </tr>
    <tr>
        <td>Mies etsii miestä</td>
    </tr>
    <tr>
        <td>Henkilö etsii henkilöä</td>
    </tr>
    <tr>
        <td>Tekniset kysymykset</td>
    </tr>
</table>
<div>
<img th:src="@{/images/CupidoSmall.png}"/>
</div>
</body>
</html>