<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post</title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="style.css" th:href="@{/style.css}"/>
<body>
<table>
    <tr th:each="post : ${postlist}">
        <td><div id="topicheader" th:text="${post.getContent()}"/></td>

    </tr>

</table>

<!--Formi uudelle viestille @Heidi @Outi-->
<form action="#" th:action="@{/newposts}" th:object="${message}" method="post">
    <input th:type="hidden" th:field="*{topicId}"/>
    <!--<p>Id: <input type="text" th:field="*{topicId}" /></p>-->
    <p>Käyttäjänimi: <input type="text" th:field="*{nickname}" /></p>
    <p>Message: <input type="text" th:field="*{content}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>