<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post</title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="style.css" th:href="@{/style.css}"/>
<body onload="clear()">


<nav>
    <form action="#" th:action="@{/alkuun}">
        <tr>
            <td><button type="submit">Päävalikko</button></td>
        </tr>
    </form>
</nav>

<table>
    <h3 th:object="${topicstarter}" th:method="post" align="middle">
        <div class="topicheader" th:text="${topicstarter.get().getHeader()}"/>
    </h3>

    <tr th:object="${topicstarter}" th:method="post">

        <td><div class="topicheader" th:text="${topicstarter.get().getUser()}"/>
            <p class="timestamp" th:text="${topicstarter.get().getTtimestamp()}"/>
        </td>
        <td><div class="topicheader" th:text="${topicstarter.get().getFirstmessage()}"/></td>
        <!--<td><div class="timestamp" th:text="${topicstarter.get().getTtimestamp()}"></div></td>-->

    </tr>
    <tr th:each="post : ${postlist}">
        <td><div class="topicheader" th:text="${post.getNickname()}"/>
            <p class="timestamp" th:text="${topicstarter.get().getTtimestamp()}"/>
        </td>
        <td><div class="topicheader" th:text="${post.getContent()}"/>
            <a th:href="'/deleteMessageById?id='+${post.getId()}+'&topicId='+${post.topicId.id}"><input type="button" value="Poista"  class="button btn btn-danger"/></a></td>


    </tr>

</table>

<form name="submitform" id="submitform" action="#" th:action="@{/newposts}" th:object="${message}"
      th:method="post">
    <table class="topicheader">
        <input th:type="hidden" th:name="topicId.id" th:value="*{topicId.id}"/>
        <tr>
            <!--<p>Id: <input type="text" th:value="*{topicId}" th:field="*{topicId}"/></p>-->
            <td>Viesti:</td>
            <td><input type="text" size="100" id="message" name="message" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td>Käyttäjänimi:</td>
            <td><input type="text" id="user" size="100" name="user" th:field="*{nickname}"/></td>
        <tr>
            <td><input class="button" th:colspan="2" type="submit" value="Lähetä"/></td>
        </tr>


    </table>
</form>
<img th:src="@{/images/CupidoSmall2.png}"/>

<!--Formi uudelle viestille @Heidi @Outi-->
<!--<p th:object="${idtest}" th:method="post">-->
<!--<div th:text="${idtest.get().getId()}"/></p>-->

<script type="text/javascript">
    function clear() {
        document.submitform.user.value = "";
        document.submitform.message.value = "";
    }
</script>



</body>
</html>