<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Topic</title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="style.css" th:href="@{/style.css}"/>
<body onload="clear()">
<table>
    <tr th:each="topic : ${topiclist}">

        <td><a id="topicheader" th:href="@{/posts}+'?topicId='+${topic.getId()}" th:text="${topic.getHeader()}"/>
            <div id="previewtext" th:text="${topic.getFirstmessage()}"/>
            <div th:if="${topic.getMessages() != null}">
                <div th:if="${topic.messages.size() != 0} ">
                    <div th:text="${topic.getMessages().size() + 1}"></div>
                    <div th:text="${topic.getMessages().get(topic.getMessages().size() - 1).getNickname()}"></div>
                </div>
                <div th:unless="${topic.getMessages().size()}"></div>
                    <div text="1"></div>
            </div>
            <div th:unless="${topic.getMessages()}">
                <div th:text="${topic.getUser()}"></div>
            </div>
        </td>

        <!--<td><a class="topicheader" th:href="@{/posts}+'?topicId='+${topic.getId()}" th:text="${topic.getHeader()}"/><div id="previewtext" th:text="${topic.getFirstmessage()}"/></td>-->

        <td><a th:href="'/deleteTopicById?id='+${topic.getId()}+'&id='+${topic.id}"><input type="button" value="Poista"  class="button btn btn-danger"/></a></td>
        <td><div class="topicheader" th:text="${topic.getTtimestamp()}"></div></td>
    </tr>

</table>
<script type="text/javascript">
    function clear() {
        document.submitform.headline.value="";
        document.submitform.message.value="";
        document.submitform.user.value="";
    }
</script>
<table>
    <td class="topicheader">
    <form action="#" id="submitform" name="submitform" th:action="@{/newtopics}" th:object="${topic}" th:method="post">
        <input th:type="hidden" th:name="categoryId" th:value="*{categoryId}"/>
        <p>Aihe: <input type="text" id="headline" name="headline" size="100" th:field="*{header}" /></p>
        <p>Viesti: <input type="text" id="message" name="message" size="100" th:field="*{firstmessage}" /></p>
        <p>Käyttäjänimi: <input type="text" id="user" name="user" th:field="*{user}" /></p>
        <p><input type="submit" value="Lähetä"/></p>
    </form>
    </td>
</table>

<form action="#" th:action="@{/alkuun}">

    <td><button type="submit">Päävalikko</button></td>
</form>




</body>
</html>