<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Topic</title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="style.css" th:href="@{/style.css}"/>
<body>
<table>
    <tr th:each="topic : ${topiclist}">
        <td><a id="topicheader" th:href="@{/posts}+'?topicId='+${topic.getId()}" th:text="${topic.getHeader()}"/><div id="previewtext" th:text="${topic.getFirstmessage()}"/></td>
    </tr>

    <form action="#" th:action="@{/newtopics}" th:object="${topic}" th:method="post">
        <input th:type="hidden" th:name="categoryId" th:value="*{categoryId}"/>
        <!--<p>Id: <input type="text" th:value="*{topicId}" th:field="*{topicId}"/></p>-->
        <p>Käyttäjänimi: <input type="text" th:field="*{user}" /></p>
        <p>Message: <input type="text" th:field="*{firstmessage}" /></p>
        <p>Message: <input type="text" th:field="*{header}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

    <form action="#" th:action="@{/alkuun}">
        <tr>
            <td><button type="submit">Päävalikko</button></td>
        </tr>
    </form>

</table>
</body>
</html>